*{
box-sizing: border-box;
}

body{
margin: 0;

}

.points{
display:none;
}
.encrypted{
display:none;
}

.body_cipher button:hover {
background-color: #ddd;
color: black;
}

.body_cipher button.select {
background-color: rgb(91, 92, 94);

}

.body_cipher {
float: center;
}

@media screen and (max-width: 500px) {
.body_cipher button {
float: none;
text-align: left;
}


}

.modal_dialog > div {
color:#353232;
margin: 0 auto;
position: relative;
padding: 12px;
max-width:40em;
min-width: 15em;
height: auto;
}

li{
line-height:1.5em;
}

button{
position:relative;
text-decoration: none;
border:0;
margin:0;
padding:0.5em 0.8em;
cursor:pointer;
font-size:1rem;
font-weight:bold;
color: #ffffff;
background-color: #c23b38;
text-align: center;
border-radius:5px;
margin-left: 0.5em;
}


.btns {
display: flex;
flex-wrap: nowrap;
margin-bottom: 0.5em;
margin-left: 0.5em;
margin-top: 1em

}


.points, .encrypted{
background-color: #bcbcbc;
border-radius: 5px;
padding:20px;
position: absolute;
z-index:1;
box-shadow:0px 0px 5px 1px #0000001a;
font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}


@media screen and (max-width:480px) {
.modal_dialog > div {
padding:3%;
height:auto;
width:94%;
}
}
/*fin de la ventana modal*/



button:hover{
cursor: pointer;
background: #4f0000;
}

img{
display: block;
max-width: 20rem;
height: auto;

}
/*fondo 1 rojo*/
.scrn {
overflow: hidden;
background-color: #c23b38;
border-bottom: 2px solid #4f0000;/*borde*/
margin:0;
padding:0;
}

.btnPoint, .btns{
margin-top: 1em;
}
.btns{
margin-top: 4em;
}

input{
border: 0.1em solid #645757;
overflow: hidden;
padding: 0.5em 1em;
margin: 0;
background: white;
font-family:'Ubuntu', Helvetica, Arial, sans-serif;
color: #645757;
font-size: 1em;
}

.btns {
display: flex;
flex-wrap: nowrap;
margin-bottom: 0.5em;
margin-left: 0.5em;
}

textarea{
width: 100%;
height:9em;
overflow: visible; 
max-width:41em;
border: solid 0.1em;
border-color: #645757;
color:#747171;
font-weight:400;
font-size:1em;
font-family:'Ubuntu', Helvetica, Arial, sans-serif;
background:#ffffff;
line-height:1.8em;
box-shadow:0px 0px 5px 1px #0000001a;
padding:20px;
margin-bottom: 0.5em;
margin-left: 0.5em;
}

.refresh{
margin-top: 0.5em;
}

.total{
display: flex;
flex-wrap: wrap;
margin:2em 0.5em 0 0;
}


@media screen and (max-width:480px) {
.btns {
margin-top: 2em;
height:auto;
width:94%;
}
}